<% for(var i = 0; i < rows.length; i++) { %>
    <tr>
        <td>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="car_id=<%= rows[i].car_id %>" id="CarCheckBox">
            </div>
        </td>
        <td class="w-25">
            <img src="<%= rows[i].photo %>" class="img-fluid img-thumbnail" alt="Car">
        </td>
        <td class='row_data'><%= rows[i].name %></td>
        <td class='row_data'><%= rows[i].passengers %></td>
        <td class='row_data'><%= rows[i].capacity %></td>
        <td class='row_data'><%= rows[i].car_type %></td>
        <td class='row_data'><%= rows[i].fuel %></td>
        <td class='row_data'><%= rows[i].transmision %></td>
        <td class='row_data'><%= rows[i].drive %></td>
        <td class='row_data'><%= rows[i].cost %></td>
        <td class='row_data'><%= rows[i].price %></td>
    </tr>
<% } %>
